In [2]:
import pandas as pd
s = pd.Series([2,4,6,8,10,12])
print("Series\n",s)

Series
 0     2
1     4
2     6
3     8
4    10
5    12
dtype: int64

In [13]:
dados = {
    "Nome":["João","Ana","Pedro","Gabriel"],
    "Idade":[20,25,26,38],
    "Notas":[6.8,8.5,5.1,7.2]
}
df = pd.DataFrame(dados)
print("\nBase de dados\n",df)

print("Coluna Nome:\n",df["Nome"])
print("\nPrimeiras 2 linhas:\n", df.head(2))
print("\nUltima linha:\n",df.tail(1))

print("Média das Idades:",df["Idade"].mean())
print("Nota maxíma:",df["Notas"].max())
print("Nota mínima:",df["Notas"].min())
print("Resumo estatístico:\n", df.describe())

aprovados = df[df["Notas"] > 8]
print("Alunos aprovados:\n", aprovados)

jovens = df[df["Idade"] < 30]
print("\nPessoas com menos de 30 anos:\n",jovens)

Base de dados
       Nome  Idade  Notas
0     João     20    6.8
1      Ana     25    8.5
2    Pedro     26    5.1
3  Gabriel     38    7.2
Coluna Nome:
 0       João
1        Ana
2      Pedro
3    Gabriel
Name: Nome, dtype: object

Primeiras 2 linhas:
    Nome  Idade  Notas
0  João     20    6.8
1   Ana     25    8.5

Ultima linha:
       Nome  Idade  Notas
3  Gabriel     38    7.2
Média das Idades: 27.25
Nota maxíma: 8.5
Nota mínima: 5.1
Resumo estatístico:
            Idade     Notas
count   4.000000  4.000000
mean   27.250000  6.900000
std     7.632169  1.402379
min    20.000000  5.100000
25%    23.750000  6.375000
50%    25.500000  7.000000
75%    29.000000  7.525000
max    38.000000  8.500000

In [18]:
aprovados = df[df["Notas"] >= 6]
print("Alunos aprovados:\n", aprovados)

aprovados = df[df["Notas"] < 6]
print("Alunos reprovados:\n", aprovados)

jovens = df[df["Idade"] < 30]
print("\nPessoas com menos de 30 anos:\n",jovens)

Alunos aprovados:
       Nome  Idade  Notas
0     João     20    6.8
1      Ana     25    8.5
3  Gabriel     38    7.2
Alunos reprovados:
     Nome  Idade  Notas
2  Pedro     26    5.1

Pessoas com menos de 30 anos:
     Nome  Idade  Notas
0   João     20    6.8
1    Ana     25    8.5
2  Pedro     26    5.1

In [22]:
df["Situação"] = ["Aprovado" if nota >= 6   else "Reprovado" for nota in df["Notas"]]

print("DataFrame atualizado:\n",df)

DataFrame atualizado:
       Nome  Idade  Notas   Situação
0     João     20    6.8   Aprovado
1      Ana     25    8.5   Aprovado
2    Pedro     26    5.1  Reprovado
3  Gabriel     38    7.2   Aprovado

In [24]:
df_sorted = df.sort_values(by="Notas", ascending=False)
print("\nOrdenado por Nota:\n", df_sorted)

Ordenado por Nota:
       Nome  Idade  Notas   Situação
1      Ana     25    8.5   Aprovado
3  Gabriel     38    7.2   Aprovado
0     João     20    6.8   Aprovado
2    Pedro     26    5.1  Reprovado