In [1]:
import pandas

In [5]:
import pandas as pd

s = pd.Series([10,20,30,40,50])
print(s)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [10]:
df = pd.DataFrame({
    "Nome":["Ana","Bruno","Maria"],
    "idade":[25,30,14]
})
print(df)

    Nome  idade
0    Ana     25
1  Bruno     30
2  Maria     14